.user-card {
    width: 290px;
    height: 240px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #b0b0b0;
    .icon_user {
        display: flex;
        justify-content: center;
        .like {
            width: 80px;
            height: 80px;
            color: #36da82;
        }
    }
    li {
        padding: 40px 0 0 0;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        list-style: none;
    }
    .flex_context {
        padding: 40px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: #36da82;
    }
}
